---
  layout: default
---
<!--
{% for post in site.categories.culprit %}
  <section class="{{ post.title }}-section">
    <div class="container">
      <header>
        <h2>{{ post.title }}</h2>
      </header>
      <div class="post-body">
        {{ post.content }}
      </div>
    </div>
  </section>
{% endfor %}
-->

<section>
  <div class="container">
    <header>
      <img src="{{ site.baseurl }}/assets/img/leaf.svg">
      <h1>Myths of the Vegan Diet</h1>
    </header>
    <p>Critics of the vegan diet tend to use a common set of excuses to bolster their viewpoints. However, many of their claims are a result of cherrypicking statistics that support their opinion. These claims spread myths, which are believed by the general public, that revolve around the same four nutrients: protein, vitamin B12, iron, and creatine.</p>
  </div>
</section>

<div class="container">
  <hr />
</div>

{% for post in site.categories.myth %}
  <section class="{{ post.title }}-section">
    <div class="container">
      <header>
        <h2>{{ post.title }}</h2>
      </header>
      <div class="post-body">
        {{ post.content }}
      </div>
    </div>
  </section>
{% endfor %}

