---
  layout: default
---
<!--
{% for post in site.categories.culprit %}
  <section class="{{ post.title }}-section">
    <div class="container">
      <header>
        <h2>{{ post.title }}</h2>
      </header>
      <div class="post-body">
        {{ post.content }}
      </div>
    </div>
  </section>
{% endfor %}
-->

<section>
  <div class="container">
    <header>
      <img src="{{ site.baseurl }}/assets/img/leaf.svg">
      <h1>Things to Watch</h1>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat purus a molestie euismod. Phasellus neque eros, accumsan at quam fermentum, mattis placerat ex. Vivamus sit amet viverra lorem. Ut egestas a nisi et aliquam. Suspendisse potenti. In lobortis tristique magna non consectetur. Pellentesque facilisis lacinia erat eget mollis. Nulla suscipit ultrices tellus, at vulputate urna gravida pulvinar.</p>
  </div>
</section>

<div class="container">
  <hr />
</div>

{% for post in site.categories.culprit %}
  <section class="{{ post.title }}-section">
    <div class="container">
      <header>
        <h2>{{ post.title }}</h2>
      </header>
      <div class="post-body">
        {{ post.content }}
      </div>
    </div>
  </section>
{% endfor %}

