section
  padding: 20px 0
  .post-body
    img
      float: right

/*
  .B12-section, .Protein-section, .Iron-section, .Creatine-section
    padding: 20px 0
    background:
      attachment: fixed
      repeat: no-repeat
      size: cover
    margin-bottom: 0
    h2
      color: $white
    p
      color: $white
  .B12-section
    background-image: url("/vegan-athlete/assets/img/veggies-in-dirt.jpg")
  .Protein-section
    background-image: url("/vegan-athlete/assets/img/legumes.jpg")
  .Iron-section
    background-image: url("/vegan-athlete/assets/img/legumes.jpg")
  .Creatine-section
    background-image: url("/vegan-athlete/assets/img/legumes.jpg") */
  

