---
---

@import 'globals'
@import 'modules/modules-index'
@import 'pages/pages-index'

html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
body
  margin: 0
  padding: 0

  .container
    max-width: 665px
    margin: 0 auto
  .page-content
    margin: 40px 0
  .wrapper
    max-width: 665px
    margin: 0 auto

hr
  padding: 0
  border: none
  border-top: $light-gray 1px solid
  text-align: center

hr::after
  content: url(/assets/img/leaf.svg)
  display: inline-block
  position: relative
  top: -0.7em
  font-size: 1.5em
  padding: 0 0.5em
  background: white

h1, h2, h3, h4, h5, h6
  margin: 0 0 20px 0
  padding: 0
  text-align: center
  font:
    family: $header-font
    size: $header-size
  color: $header-color
  text-transform: uppercase
  letter-spacing: 1.06px

  .light
    font-family: AvenirNext-Regular
    font-weight: lighter

h2
  color: $white

p
  font:
    family: $text-font
    size: $text-size
  color: $text-color
  margin: 20px 0 40px 0
  line-height: 30px
  letter-spacing: 0.5px
